<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
 	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd"
	default-lazy-init="false" >

	<dubbo:application name="dubbo_consumer"></dubbo:application>
	<!--消费用户模块接口 users-->
	<dubbo:registry address="zookeeper://127.0.0.1:2181" check="false"></dubbo:registry>
	<dubbo:reference interface="com.tomato.users.api.user.LoginApi" id="loginApi"></dubbo:reference>
	<dubbo:reference interface="com.tomato.users.api.user.UpdateBaseInfoApi" id="updateBaseInfoApi"></dubbo:reference>
	<dubbo:reference interface="com.tomato.users.api.user.SelectAllUserInfoApi" id="selectAllUserInfoApi"></dubbo:reference>
	<dubbo:reference interface="com.tomato.users.api.user.RegisterApi" id="registerApi"></dubbo:reference>
	<!--消费好友模块接口 friends-->
	<dubbo:reference interface="com.tomato.friends.api.GetServerInfoApi" id="getServerInfoApi"></dubbo:reference>
	<dubbo:reference interface="com.tomato.friends.api.GetFriendIpAddrApi" id="getFriendIpAddrApi"></dubbo:reference>
 	<!--消费共享中心模块接口 sharings-->
</beans>